<h1>Calls</h1>

<table>
  <tr>
    <th>Neighbourhood</th>
    <th>Service Area</th>
    <th>Service Request</th>
    <th></th>
  </tr>

<% @calls.each do |call| %>
   <tr>
      <td><%= call.neighbourhood.name %></td>
      <td><%= call.service_area.name %></td>
      <td><%= call.service_request.name %></td>
      <td><%= link_to 'Show', call_path(call) %></td>
   </tr>
<% end %>
</table>
<%= paginate @calls %>


