<h1>Calls</h1>

<table>
  <tr>
    <th>Neighbourhood</th>
    <th>Service Area</th>
    <th>Service Request</th>
    <th></th>
  </tr>
   <tr>
      <td><%= @call.neighbourhood.name %></td>
      <td><%= @call.service_area.name %></td>
      <td><%= @call.service_request.name %></td>
   </tr>
</table>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
var lng = '<%=@call.lng%>';
var lat ='<%=@call.lat%>';

mapboxgl.accessToken = 'pk.eyJ1IjoiYmlnbW1hbiIsImEiOiJja2dzNGU4ajUwOGF6Mnlxb25zMjI2N3h2In0.IU2XJFaFs82zUZYCXOHq2Q';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
center: [-74.5, 40], // starting position [lng, lat]
zoom: 9 // starting zoom
});

var marker = new mapboxgl.Marker()
.setLngLat([lng, lat])
.addTo(map);

map.jumpTo({ center: marker.getLngLat() });
</script>