<!DOCTYPE html>
<html>
  <head>
    <title>ThreeOneOneTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/calls">ThreeOneOne Tracker</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="/calls">Calls</a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/neighbourhoods">Neighbourhoods</a>
        </div>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/wards">Wards</a>
        </div>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/service_areas">Service Areas</a>
        </div>
      </form>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
